@font-face { font-family: "TSDLFont"; src: url("../fonts/Raleway-Regular.ttf"); }

@font-face { font-family: "TSDLFontBold"; src: url("../fonts/Raleway-Bold.ttf"); }

/* Space out content a bit */
body { font-family: "TSDLFont"; font-size: 14px !important; font-weight: 100; }

h1 { font-size: 20px; font-family: "TSDLFontBold"; }

#pageImage { width: 70vw; }

.header { border-bottom: 1px solid #EEE; padding-bottom: 10px; margin-bottom: 20px; text-align: center; font-family: "TSDLFontBold"; }

.footer { /* padding-top: 19px; */ color: #999; border-top: 1px solid #EEE; text-align: center; font-size: 11px; }

.footer a:link, .footer a:visited { color: #999; }

.fa { color: #ffc00f; }

a > .fa { display: inline; }

/* unvisited link */
a:link {
  color: #ffc00f;
}

/* visited link */
a:visited {
  color: #ffc00f;
}

/* mouse over link */
a:hover {
  color: #ffc00f;
}

/* selected link */
a:active {
  color: #ffc00f;
}

/* /\* Customize container *\/ */
/* @media (min-width: 768px) { */
/*     .container { */
/*         max-width: 730px; */
/*     } */
/* } */
/* Jumbotron */
.jumbotron { background-color: #dddddd; text-align: justify; padding-top: 1.5em; padding-bottom: 0.5em; font-size: 15px; }

/* Group logo */
#logo { width: 210px; height: auto; }

/* Front page news. */
ul.news .date { color: #999; font-weight: bold; }

ul.news > li { margin-top: 1em; }

@media (min-width: 576px) { .project-people { column-count: 2; }
  .card-columns { column-count: 2; }
  .role.faculty { column-count: 2; }
  .role.grad { column-count: 2; }
  .role.ugrad { column-count: 2; }
  .role.collab { column-count: 2; }
  .role.alum { column-count: 3; }
  .project-image { width: 100%; } }

@media (min-width: 768px) { .project-people { column-count: 3; }
  .card-columns { column-count: 2; }
  .role.faculty { column-count: 3; }
  .role.grad { column-count: 3; }
  .role.ugrad { column-count: 3; }
  .role.collab { column-count: 3; }
  .role.alum { column-count: 4; }
  .project-image { width: 100%; } }

@media (min-width: 1024px) { .project-people { column-count: 3; }
  .card-columns { column-count: 2; }
  .role.faculty { column-count: 5; }
  .role.grad { column-count: 5; }
  .role.ugrad { column-count: 5; }
  .role.collab { column-count: 5; }
  .role.alum { column-count: 6; }
  .project-image { width: 100%; margin-bottom: 10px; } }

.title img { max-width: 50%; }

section { margin-bottom: 2em; }

.profile { object-fit: cover; }

.noprofile circle { fill: #EEE; }

.noprofile text { font-weight: 700; fill: white; }

.card .profile { height: 40px; width: 40px; margin: 3px; }

.card .card-footer { padding: 0.5em; }

.person { margin-bottom: 10px; }

.person .profile { height: 70px; width: 70px; }

.person .bio { color: #999; }

.person .person-name { margin: 0; }

.person-without-image { margin: 0; }

.person-without-image .bio { margin-left: 1em; }

svg { vertical-align: middle; }

.center { position: relative; top: 50%; left: 50%; transform: translate(-25%, -55%); }

.body-container { padding: 0px 50px; }

.navbar .navbar-nav .active > .nav-link { color: #ffc00f; }

.navbar .navbar-nav .nav-link:hover { color: #ffc00f; }

.navbar .navbar-nav .nav-link { color: #fff; }

.navbar-customclass {
  background-color: #3b3b39;
}

.customBib { margin-bottom: 4px; }

.customBadge { font-weight: bold; }

.carousel-caption { background-color: #3b3b39; }

/*# sourceMappingURL=group.css.map */